{% extends 'base.html' %}

{% block content %}

    <main>
        <li>
            <a href="{% url 'create_project' %}">Create Project</a>
        </li>
        <div>
            <h1>My Projects</h1>
            {% if projects %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                            <tr>
                                <td><li><a href="{% url 'show_project' project.pk %}">{{ project.name }}</a></li></td>
                                <td>{{ project.tasks.all | length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You are not assigned to any projects</p>
            {% endif %}

        </div>
    </main>
{% endblock content %}